body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neva", Helvetica, Arial, sans-serif;
	color: #444;
}

header {
	background-color: #FF0000;
	height: 35px;
	width: 100%;
}

header h1.logo{
	margin: 0;
	font-size: 1.7em;
	color: #FFFFFF
	test-transform: uppercase;
	float: left;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.mainContent {
	background-color: #E1E1D0;
	border-radius: 25px;
	width: 1200px;
	margin: 0 auto;
}

.menu {
	float: right;
	maring-top: 8px;
}

.menu li {
	display: inline;
}

.menu li + li {
	margin-left: 35px;
}

.menu li a {
	color: #444;
	text-decoration: none;
}

.contentContainer {
        display: inline-block;
	width: 49%;
}

.contentHeader {
	text-align: center;
}

.button {
	display: inline;
	font: bold 20px Arial;
 	text-decoration: none;
 	background-color: #EEEEEE;
 	color: #333333;
 	padding: 5px 12px 5px 12px;
 	border-top: 1px solid #CCCCCC;
 	border-right: 1px solid #333333;
 	border-bottom: 1px solid #333333;
 	border-left: 1px solid #CCCCCC;
}

.outletStatus {
	text-align: center;
}

.graph {

}

